
.navbar, .quem-somos, .servicos, .diversao, .bg-footer {
    background-color: rgb(63, 9, 9);
}

.logo {
    margin-left: 50px;
    margin-right: 800px;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-footer {
   color: grey;
}
